*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #04011af8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.container{
    background-color: rgb(8, 6, 47);
    padding: 20px 50px;
    border: solid rgb(255, 255, 255) 1px;
}

h1{
    color: white;
    margin-bottom: 20px
}

.input-container{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
}

button{
    background-color: #0c42b7;
    padding: 7px 10px;
    border: solid 1px rgba(255, 255, 255, 0.285);
    color: white;
}
input{
    background-color: transparent;
    padding: 7px 10px;
    margin-right: 10px;
    border: solid rgba(179, 198, 245, 0.466) 1px;
    color: white;
    border-radius: 3px;
}

button:hover{
    background-color: #1c58da;
    border: solid white 1px;
}

h3{
    color: white;
    margin-bottom: 10px;
}
ul{
    padding: 0%;
    margin: 0%;
}
#todo-item{
    background-color: transparent;
    border: solid rgba(255, 255, 255, 0.237) 1px ;
    color: white;
    padding: 5px;
}
#item-btn{
    background-color: rgba(255, 0, 0, 0.59);
    margin-left: 60px;
}
#item-btn:hover{
    background-color: red;
}

li.completed{
    text-decoration: line-through;
    opacity: 0.7;
}